<header class="rk-portfolio-cover item-inside-portada">
    <div class="item-inside__meta">
        <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/3eWRvt0gy7Gq5aO9CoiK9F?utm_source=generator&theme=0" width="100%"
            height="80" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
</header>

<div class="blog-info" *ngFor="let info of infoService.animes">
    <h2 class="blog-info__title">{{info.page_name}}</h2>
    <h5 class="blog-info__author">By <a [href]="info.site" class="ae-u-bolder" target="_blank">{{info.name}}</a></h5>
    <p>{{info.about}}</p>
    <p>{{info.about_2}}</p>
</div>
